<ion-view title="Notas" hide-back-button="false" hide-nav-bar="true">
	<div class="bar bar-header bar-calm">
 		<h1 class="title">Edición</h1>
	</div>
	<ion-nav-buttons side="right">
	    <a class="button button-icon icon ion-gear-b" ui-sref="/configuration"></a>
	</ion-nav-buttons>
	<label class="item item-input">
  		<span class="input-label">[[node.title]]</span>
  		<input type="text">
	</label>
	<label class="item item-input">
  		<span class="input-label">[[node.text]]</span>
  		<input type="text">
	</label>
	<div class="bar bar-footer bar-balanced">
 		<div class="buttons">
    		<button class="button" ngClick="save(id, title, text)">Left Button</button>
  		</div>
	</div>
</ion-view>