<ion-view title="Editar nota">
	<div class="card">
	  <div class="item item-divider">
	    Editar nota
	  </div>
	  <div class="item item-text-wrap">
	  	<label class="item item-input">
	    	<input type="text" placeholder="{{node.title}}"></input>
	    </label>
	    <label class="item item-input">
	    <textarea>{{node.text}}</textarea>
	  </label>
	  <label class="item item-input">
	  	<button ng-click="save(id, title, text)" class="button button-block button-positive">Añadir nota</button>
	  </label>
	  </div>
	</div>
</ion-view>