<ion-view title="Login" hide-back-button="true" hide-nav-bar="true">
	<div class="card">
	  <div class="item item-divider">
	    APINotack
	  </div>
	  <div class="item item-text-wrap">
	  	<label class="item item-input">
	    	<input type="text" placeholder="Usuario" ng-model="user"></input>
	    </label>
	    <label class="item item-input">
	    	<input type="password" placeholder="Contraseña" ng-model="pass"></input>
	    </label>
	    <label class="item item-input">
	    	<button ng-click="checkLogin()" class="button button-block button-positive">Login</button>
	    </label>
	  </div>
	  <div class="item-text-wrap">
	  	¿No estás registrado?
	  	<a ui-sref="signup">Registrarse</a>
	  </div>
	</div>
</ion-view>