<ion-view title="Nota" hide-back-button="false" hide-nav-bar="true">
	<div class="bar bar-header bar-calm">
 		<h1 class="title">Nota</h1>
	</div>
	<div class="list">
	  <label class="item item-input">
	    <input ng-required="true" ng-model="title" type="text" placeholder="Título">
	  </label>
	  <label class="item item-input">
	    <textarea ng-required="true" ng-model="body" placeholder="Texto de la nota"></textarea>
	  </label>
	  <label class="item item-input">
	  	<button ng-click="save()" class="button button-block button-positive">Guardar</button>
	  </label>
	</div>
	<ion-nav-buttons side="right">
	    <a class="button button-icon icon ion-gear-b" ui-sref="configuration"></a>
	</ion-nav-buttons>
</ion-view>